footer {
    text-align: center;
    margin: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fas.fa-home {
    font-size: 2em;
    color: #EC018A;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}

.fas.fa-dollar-sign {
    font-size: 2em;
    color: #EC018A;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}

.fas.fa-user-shield {
    font-size: 2em;
    color: #EC018A;
    margin-bottom: 0.8rem;
    margin-top: 0.5rem;
}
footer ul{
    justify-content: center;
    width: 100%;
}

.footer2{
    width: 100 vw;
    background-color: #cdb4db;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
}
footer a {
    font-weight: bolder;
    color: black;
    margin: 1rem 0rem;
}
footer p{
    margin-top: 2rem;
}

footer ul li{
    margin-bottom: .5rem;
}
@media (min-width: 768px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer2{
        width: 50vw;
    }
    #footer1 ul{
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
  @media (min-width: 1200px) {
    
  }
  