header{
  background-color: #CDB4DB;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
}

header figure{
  width: 35vw;
  margin-top: .6rem;
}

header figure img{
  height: 100%;
}

header form{
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
}

header form input{
  border: none;
  outline: none;
  padding: .5rem;
  border: 0;
  border-radius: .4rem
}

header form button{
  border: none;
  outline: none;
  padding: .5rem;
  border: 0;
  border-radius: .4rem
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: bold;
    font-size: 2rem;
}

header nav a{
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  color: #EC018A;
}

header nav{
 display: flex;
 justify-content: center;
 align-items: center;
}

a{
  text-decoration: none;
}
@media (min-width: 320px){
  header figure{
    width: 90vw;
  }
  header form{
    width: 70vw ;
  }
  header section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }
  header nav ul{
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  header figure{
    width: 40vw;
  }
  header form{
    width: 50vw ;
  }
  header form input{
    padding: .5rem 5rem;
  }
  header section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }

  header nav ul{
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
  }

  header nav ul li a{
    color: #000;
    margin-right: 0.5rem;
  }
}

@media (min-width: 1200px) {
  header section i{
    margin-left: 3rem;
    margin-right: 3rem;
  }
/*     header figure{
    max-width: 100vw;
  } */
}