*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
main{
    background-color: #A2D2FF;
}

.contenedorItems{
    display: flex;
}

.formularioRegistro{
    padding: 1.2rem 1rem;
    margin: auto;
}
.controlFormulario{
    margin-bottom: 1rem;
}
.controlFormulario label{
    margin-bottom: 1rem;
    display: block;
}
.control{
    width: 100%;
    padding: .5rem;
    border: 0;
    border-radius: .4rem;
}
.perfilDeUsuaro{
    display: flex;
    margin-top: .3rem;
}
.controlFormulario div{
    margin: 0rem 1rem;
}
.controlFormulario div label{
    margin-left: 1rem;
}

#fotoPerfil h3{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
    font-weight: bold;

}
#fotoPerfil input{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}
#fotoPerfil{
    margin-bottom: 2rem;
}
#Subirfoto{
    font-size: .9rem;
}

#contenedorBotones{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.button{
    background-color: #03264C;
    border-radius: .4rem;
    border: 0;
    color: white;
    padding: .5rem;
}