<footer>
    <ul id="footer1">
      <li>
         <i class="fas fa-home"></i>
         <h3>Retiralo en la tienda</h3><br>
         <h3>o recibilo en tu casa</h3><br>
       </li>
      
       <li>
         <i class="fas fa-dollar-sign"></i>
         <h3>Pagá en cuotas</h3><br>
         <h3>o en efectivo</h3><br>
       </li>
      
       <li>
         <i class="fas fa-user-shield"></i>
         <h3>¡Sitio seguro!</h3><br>
         <h3>Protegemos tus datos</h3><br>
       </li>
   </ul>
   
     <nav class="footer2">
         <a href="/productos"> 
         TIENDA</a>
         <a href="/productos/fresca">Frescas</a>
         <a href="/productos/liviana">Livianas</a>
         <a href="/productos/pesada">Pesadas</a>
     </nav>
       
     <nav class="footer2">
         <a href="/contacto"> 
         CONTACTANOS</a>
         <a href="">Calle Falsa 123</a>
         <a href="">mailfalso123@gmail.com</a>
         <a href="">11-6465-4654</a>
     </nav>
   <p>Copyright © 2021 Grupo10 AltasTortas S.R.L.</p>
   </footer>