<header>
    <a href="/">
      <figure>
        <img src="/img/LOGO TRANSPARENTE CON TEXTO G10.png">
      </figure>
    </a>
    <form action="/search" method="GET"> 
      <input type="text" name="keyword" id="keyword" placeholder="¿Qué torta querías?" >
      <button type="submit"> 
        <i class="fas fa-search"></i>
      </button>
    </form>
  
      <nav>
  
            <a href="/usuarios/register">
              <i class="fas fa-user-plus"></i> <br><br>
            </a>
  
            <a href="/contacto">
              <i class="fas fa-comment-alt"></i> <br><br>
            </a>
  
            <a href="/usuarios/login">
            <i class="fas fa-user"></i></i><br><br>
            </a>
  
            <a href='/cart'>
              <i class="fas fa-shopping-basket"></i><br><br>
            </a>
    </nav> 
  </header> 