<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
  
    <!-- Librerias -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    
     <!-- Estilos personales-->
    <link href="/css/header2.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/home2.css" rel="stylesheet">
    <link href="/css/contacto.css" rel="stylesheet">

    <% if (styles.length > 0) { %>
      <% styles.forEach(style => { %>
          <link rel="stylesheet" href="<%= style %>">
      <% }) %>
  <% } %>

  </head>