<%- include("includes/head") %> 

<body>
<!-- Header -->
<%- include("includes/header") %> 
<!-- Fin del Header -->
  <!-- Main -->
      <main>
        <section id="productdetail">
          <article>
<!-- aca a la izq deberian ir nuestros datos de contacto y todo eso -->
          </article>
          <article>
<!-- aca a la derecha deberia ir un formulario para enviar mensaje de contacto -->
          </article>
        </section>
      </main>
<!-- Footer -->
<%- include("includes/footer") %> 
</body>