<%- include("includes/head") %> 

<body>
<!-- Header -->
<%- include("includes/header") %> 
<!-- Fin del Header -->
  <!-- Main -->
      <main>
               
<!-- aca a la izq deberian ir nuestros datos de contacto y todo eso -->
         
          <u>
          
            <i class="fcontacto"></i>
            <h3>DONDE ENCONTRARNOS</h3><br>
            <h3>Tel: 11-6465-4654</h3><br>
            <h3>Horario: Lunes a Viernes</h3>
            <h3>          de 10 a 20 hs</h3><br>
            <h3>RETIRO DE PRODUCTOS</h3><br>
            <h3>Direccion: Calle Falsa 123</h3><br>
            <h3>Horario: Lunes a Sabado</h3>
            <h3>         de 10 a 18 hs</h3>
          </u>
          
<!-- aca a la derecha deberia ir un formulario para enviar mensaje de contacto -->
         
          <form action="" method="POST" class="fcontacto1">
            <div class="fcontacto1">
              <label><u>CONTACTO:</label></u><br><br>

              <input type="text" name="usuario" placeholder="Nombre y Apellido" required minlength="5" >
            </div>
           
            <div class="fcontacto1">
              <input type="email" name="email" placeholder="E-mail" required minlength="7" >
            </div>

            <div class="fcontacto1">
              <textarea name="comentario" placeholder="Deje su Comentario" id="comentario"></textarea> <br><br>
            </div>
            
            
            <section id="contenedorBotones">
              <button class="button" type="submit">Enviar</button><br><br>
              </section>
                  
          </form>

        </form>
      </main>
<!-- Footer -->
<%- include("includes/footer") %> 
</body>