<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AltasTortas</title>
  
    <!-- Librerias -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    
     <!-- Estilos personales-->
    <link href="/css/header2.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/home2.css" rel="stylesheet">
    <link href="/css/formregistro.css" rel="stylesheet">
    <link href="/css/formlogin.css" rel="stylesheet">
    <link href="/css/productdetail.css" rel="stylesheet">
  </head>
  
  <body>
  
  <!-- Header -->
  
  <header>
    <a href="/">
      <figure>
        <img src="/img/LOGO TRANSPARENTE CON TEXTO G10.png">
      </figure>
    </a>
    <form action="/search" method="GET"> 
      <input type="text" name="keyword" id="keyword" placeholder="¿Qué torta querías?" >
      <button type="submit"> 
        <i class="fas fa-search"></i>
      </button>
    </form>
  
      <nav id="copyheader">
  
                <a href="/register">
                  <i class="fas fa-user-plus"></i>
                </a>
  
                <a href="/contacto">
                  <i class="fas fa-comment-alt"></i>
                </a>
  
                <a href="/login">
                <i class="fas fa-user"></i></i>
                </a>
  
                <a href='/carrito'>
                  <i class="fas fa-shopping-basket"></i>
                </a>
        </nav> 
  </header> 
  <!-- Fin del Header -->
  <!-- Main -->
  <main>
  <!-- Section -->
  <nav class= "navproducto">
    <a href="/home">Home</a>
    <a href="/productos">/ Productos</a>
    <a href="/productdetail">/ Torta de ejemplo</a>
  </nav>
  <section id="productdetail">
    <figure id= "fotoproducto">	
      <img src="/img/BANANASPLIT.jpg" alt="imagen BANANASPLIT" >
    </figure>
    <article>
      <h3>Banana Split </h3>
      <p>
        <i class="fas fa-dollar-sign"></i>
        2.300
      </p>
      <p>
        <i class="fas fa-credit-card"></i>
        Pagá hasta en 18 cuotas 
      </p>

      <form action="/carrito" method="POST">
        
        <fieldset>
          <label>Cantidad</label>
          <input type="number" name="cantidad" required>
        </fieldset>
        <fieldset>
          <button type="submit">
            Agregar al carrito
          </button>
        </fieldset>
      </form>
      <ul>
        <li> Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ul>

    </article>
  </section>

  <section class="productos">
    <h3 class="titulares">Productos relacionados</h3>
    <!-- Article -->
      <article>
        <figure>	
          <img src="/img/BANANASPLIT.jpg" alt="imagen BANANASPLIT">
        </figure>
        <section>
          <h3 class="descripciones">Banana Split</h3>
          <p class="precios">$2100</p>
          <p class="botonproductos">Ver más info</p>
  
        </section>
      </article>
    <!-- Fin de Article -->
    <!-- Article -->
    <article>
      <figure>	
        <img src="/img/BOMBA.jpg" alt="imagen BOMBA" >
      </figure>
      <section>
        <h3 class="descripciones">Bomba</h3>
        <p class="precios">$2300</p>
        <p class="botonproductos">Ver más info</p>
  
      </section>
    </article>
  <!-- Fin de Article -->
  <!-- Article -->
  <article>
    <figure>	
      <img src="/img/BONOBON.jpg" alt="imagen BONOBON">
    </figure>
    <section>
      <h3 class="descripciones">Bonobón</h3>
      <p class="precios">$2500</p>
      <p class="botonproductos">Ver más info</p>
  
    </section>
  </article>
  <!-- Fin de Article -->
  <!-- Article -->
  <article>
    <figure>	
      <img src="/img/CHEESECAKE.jpg" alt="imagen CHEESECAKE">
    </figure>
    <section>
      <h3 class="descripciones">Cheesecake</h3>
      <p class="precios">$2200</p>
      <p class="botonproductos">Ver más info</p>
  
    </section>
  </article>
  <!-- Fin de Article -->
  </section>
  <!-- Fin del Section -->
  <section class="productos">
    <a href="/productos" class="botonproductos">Ver todos los productos</a>
  
    
    
    <a href="/contacto">
      <h3 class="titulares">¿Tenés alguna duda? Contactanos</h3>
    </a>
  </section>
  <!-- Fin del Section -->
  </main>
  <!-- Footer -->
  <footer>
    <ul id="footer1">
      <li>
         <i class="fas fa-home"></i>
         <h3>Retiralo en la tienda</h3>
         <h3>o recibilo en tu casa</h3>
       </li>
      
       <li>
         <i class="fas fa-dollar-sign"></i>
         <h3>Pagá en cuotas</h3>
         <h3>o en efectivo</h3>
       </li>
      
       <li>
         <i class="fas fa-user-shield"></i>
         <h3>¡Sitio seguro!</h3>
         <h3>Protegemos tus datos</h3>
       </li>
   </ul>
   
     <nav class="footer2">
         <a href="/productos"> 
         TIENDA</a>
         <a href="/productos/frescas">Frescas</a>
         <a href="/productos/livianas">Livianas</a>
         <a href="/productos/pesadas">Pesadas</a>
     </nav>
       
     <nav class="footer2">
         <a href="/contacto"> 
         CONTACTANOS</a>
         <a href="">Calle Falsa 123</a>
         <a href="">mailfalso123@gmail.com</a>
         <a href="">11-6465-4654</a>
     </nav>
   <p>Copyright © 2021 Grupo10 AltasTortas S.R.L.</p>
   </footer>
   </body>  